body {
	background-image: url("https://images.unsplash.com/photo-1502739391963-eda719c24cd4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80");
}

.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;     
}

.thumbnail .caption-full {
	padding: 10px;
}

h1, h3 {
	color: white;
}

